<header>
  <div class="header">
    <div class="header__container">
      <div class="header__container__app">
        <div class="header__container__app__menu">
          <p-image
            class="cursor-pointer"
            [routerLink]="['/']"
            src="assets/img/softnia.png"
            alt="Logo"
            width="160"></p-image>
        </div>
        <div
          class="header__container__app__actions flex align-items-center flex gap-3">
          <div class="px-2 py-2 flex gap-3 justify-content-center">
            <div
              class="flex justify-content-center align-items-center theme hover:surface-800">
              <i
                *ngIf="!darkMode"
                class="pi pi-moon cursor-pointer p-0"
                (click)="toggleTheme('lara-dark-blue')"></i>
              <i
                *ngIf="darkMode"
                class="pi pi-sun cursor-pointer p-0"
                (click)="toggleTheme('lara-light-blue')"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
