<footer class="footer">
  <div class="footer__elements">
    <div class="footer__elements__element">
      <div class="footer__elements__element__tittle">Contacto</div>
      <div>3226287047</div>
    </div>
    <div class="footer__elements__element">
      <div class="footer__elements__element__tittle">Quienes somos</div>
      <div>Cultura</div>
      <div>Trabaja aqui</div>
      <div>La vida en selling</div>
    </div>
    <div class="footer__elements__element">
      <div class="footer__elements__element__tittle">Siguenos</div>
      <div class="footer__elements__element__icons">
        <a href="https://www.facebook.com/" target='_blank'>
          <i
            class="pi pi-facebook"
            pTooltip="Facebook"
            tooltipPosition="top"></i>
        </a>
        <a href="https://www.whatsapp.com/" target='_blank'>
          <i
            class="pi pi-whatsapp"
            pTooltip="Whatsapp"
            tooltipPosition="bottom"></i>
        </a>
        <a href="https://www.instagram.com/" target='_blank'>
          <i
            class="pi pi-instagram"
            pTooltip="Instagram"
            tooltipPosition="top"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
