<form [formGroup]="clientForm" (ngSubmit)="submitForm()" class="form w-20rem">
  <div class="form__control">
    <div class="p-inputgroup">
      <input
        type="text"
        pInputText
        placeholder="Nombre completo"
        formControlName="name" />
    </div>
  </div>
  <div class="form__control">
    <div class="p-inputgroup">
      <input
        type="number"
        pInputText
        placeholder="Teléfono"
        formControlName="phone" />
    </div>
  </div>
  <div class="form__control">
    <div class="p-inputgroup">
      <input
        type="text"
        pInputText
        placeholder="Dirección"
        formControlName="address" />
    </div>
  </div>
  <div class="form__control">
    <div class="p-inputgroup">
      <input
        type="text"
        pInputText
        placeholder="Valor"
        formControlName="value" />
    </div>
  </div>
  <div class="form__control">
    <button pButton type="submit" class="p-button p-button-primary w-full">
      {{!edit? 'Agregar' : 'Editar'}}
    </button>
  </div>
</form>

