.tittle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: var(--spacing);
}

.subtittle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: var(--spacing);
}

.text-small {
  font-size: 13px;
  font-weight: 400;
}
