:root {
    --spacing: 1.5rem;
    --spacing-simple: 1rem;
    --spacing-double: 3rem;
    --spacing-min: 5px;
    --max-width: 1440px;
    --border-radius: 20px;
    --shadow-card: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f;
    --shadow: rgba(0, 0, 0, 0.1019607843);
    --icon-size: 1.3rem;
    --icon-size-small: 0.9rem;
    --side-bar-size: 185px;
    --side-bar-size-negative: -185px;
}